* {
    --pblue: hsl(225, 100%, 94%);
    --bblue: hsl(245, 75%, 52%);
    --vpblue: hsl(225, 100%, 98%);
    --desatb: hsl(224, 23%, 55%);
    --dblue: hsl(223, 47%, 23%);
    --brad: 1rem;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: url("images/pattern-background-mobile.svg"), var(--pblue);
    background-repeat: no-repeat;
    background-position: 0 -15rem;
    background-size: contain;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: var(--dblue);
    font-weight: 900;
}

h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

h2, p {
    font-size: 0.9rem;
}

p {
    color: var(--desatb);
}

a {
    font-weight: bold;
}

img[alt="Hero"] {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.order-summary {
    margin: auto;
    width: 20rem;
    background: white;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas: "hero" "summary";
    border-radius: var(--brad);
    box-shadow: 0 0.5rem 1rem var(--desatb);
    transition: 0.8s;
}

.hero {
    grid-area: hero;
    border-radius: var(--brad) var(--brad) 0 0;
}

.summary {
    grid-area: summary;
    text-align: center;
    border-radius: 0 0 var(--brad) var(--brad);
}

.plan {
    width: 80%;
    display: flex;
    margin: 2rem auto;
    background: var(--vpblue);
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.plan h2, .plan p {
    margin: 0;
}

.current-plan {
    margin: 0 3rem 0 1rem;
}

.plan, #pay {
    border-radius: 0.5rem;
}

#change, #pay, #cancel {
    transition: 0.5s;
}

#pay, #cancel {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
}

#pay {
    background: var(--bblue);
    color: white;
    width: 90%;
    margin: 1rem auto;
    padding: 0.8rem 0;
    box-shadow: 0 1rem 1rem var(--pblue);
}

#cancel {
    color: var(--desatb);
    width: 40%;
    margin: 1.5rem auto 2.5rem;
}

#change {
    color: var(--bblue);
    font-size: 0.9rem;
}

#sp {
    line-height: 1.5;
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 130%;
    }

    body {
        background: url("images/pattern-background-desktop.svg"), var(--pblue);
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*Desktop Animations*/
    .order-summary:hover {
        transform: scale(1.1);
    }

    #change:hover {
        color: var(--dblue);
        text-decoration-line: none;
        transform: scale(1.1);
    }

    #pay:hover {
        background: var(--desatb);
        color: var(--dblue);
    }

    #cancel:hover {
        color: var(--bblue);
        transform: scale(1.1);
    }
}



